@font-face {
    font-family: "Paris2024";
    src: url('/assets/fonts/Paris2024/Paris2024VariableRegular.ttf') format("woff2"),url('/assets/fonts/Paris2024/Paris2024VariableRegular.woff') format("woff"),url('webfont.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Paris2024";
    font-size: 24px;
    line-height: 1.8em;
    background-color: #102940;
    
    color: #A68F4B;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
h2,h3 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    color: #eeeeee;
    margin-top : 2rem;
    margin-bottom : 2rem;
}
h3 {
    font-size: 3rem;
}

/* ============================================================================
===============   BACKGROUND   ====================================================
==============================================================================  */

#profil {
    background-color: #102940;
    transition: all 0.5s ease-in-out;
}
.formations,.contact,.loisirs,.inspirations {
    transition: all 0.5s ease-in-out;
}
.formations.scroll,.contact.scroll,.loisirs.scroll,.inspirations.scroll {
    background-color: #A68F4B;
    color: #102940;
}

/* ============================================================================
===============   BOUTONS   ====================================================
==============================================================================  */

button {
    font-weight: 1.2rem;
    color: #eeeeee;
    text-decoration: none;
    transition: all 0.2s;
    margin: 0,0.3rem;
    cursor: pointer;
}
button:hover {
    border: 1px solid;
    color: #eeeeee;
    text-decoration: none;
    padding-inline: 12px;
    padding-block: 5px;
    border-radius: 10px;
    transition: all 0.2s;
}

.cta button {
    display: flex;
    border: 2px solid #eeeeee;
    border-radius:10px;
    background-color:transparent;
    padding: 6px 12px;
    text-align: center;
    margin: 1rem auto;
    transition: all 0.2s;
}

.cta button:hover {
    border-color: #7b0b0b;
    transition: all 0.2s;
    font-size: 0.9em;
    color: #eeeeee;
    text-decoration: none; 
}

/* ============================================================================
===================   MENU   ====================================================
==============================================================================  */

.menu {
    position: fixed;
    top: 500;
    height: 100vh;
    width: 100%;
    display: flex;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-left: 100px;
}
.menu a {
    font-weight: bold;
    color: #eeeeee;
    text-decoration: none;
    transition: all 0.5s;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.menu a:hover {
    border: 1px solid;
    padding-inline: 12px;
    padding-block: 5px;
    border-radius: 10px;
    transition: all 0.5s;
}
.menu nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* bouton retour en haut  */

.menu div {
    height: 50px;
}
.menu img {
    margin-top: 7rem;
    margin-bottom:4rem;
    width: 2rem;
    transform: rotate(180deg);
    transition: all 0.5s;
    border: 0px solid !important;
}

.menu img:hover {
    margin-top: 6.6rem;
    opacity: 0.8;
    margin-bottom:3.7rem;
    width: 2.5rem;
    transform: rotate(180deg);
    transition: all 0.5s;
}

.menu a:last-child:hover {
    border: 0px solid;
}

/* SECTION BIENVENUE */
.bienvenue {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: space-evenly;
}
.titre1 {
    position: relative;
    text-align: center;
    letter-spacing: -2px;
    padding-top: 4rem;
    font-weight: bold;
    color: #eeeeee;
    font-size: 4.5rem;
    opacity: 0;
    -webkit-animation: anim 0.6s ease-in-out forwards 0.5s;
    animation: anim 0.6s ease-in-out forwards 0.5s
}
.titre2 {
    position: relative;
    text-align: center;
    padding-bottom: 4rem;
    letter-spacing: -2px;
    margin-top: 4rem;
    font-weight: bold;
    color: #eeeeee;
    font-size: 4.5rem;
    opacity: 0;
    -webkit-animation: anim 0.6s ease-in-out forwards 1s;
    animation: anim 0.6s ease-in-out forwards 1s
}
#avatar {
    z-index: -1;
    opacity: 0;
    -webkit-animation: apparition 0.8s ease-in forwards 2s;
    animation: apparition 0.8s ease-in forwards 2.5s
}
#avatar img {
    width: 20vw;
}
.name {
    font-size: 2.5rem;
    margin-top: -3.5rem;
    margin-bottom: 5rem;
}
.txtRight {
    opacity: 0;
    padding: 4px;
    z-index: 1;
    white-space: nowrap;
    -webkit-animation: txtRight 0.8s ease-in-out forwards 1.8s;
    animation: txtRight 0.8s ease-in-out forwards 1.8s
}
.txtLeft {
    opacity: 0;
    z-index: 1;
    white-space: nowrap;
    padding: 4px;
    -webkit-animation: txtLeft 0.8s ease-in-out forwards 1.8s;
    animation: txtLeft 0.8s ease-in-out forwards 1.8s
}
.iam {
    font-size: 2.5rem;
    color: #eeeeee;
    opacity: 0;
    margin: -1rem;
    -webkit-animation: apparition 1s ease-in-out forwards 3s;
    animation: apparition 1s ease-in-out forwards 3s
}
#designerWeb {
    opacity: 0;
    -webkit-animation: anim 1s ease-in-out forwards 3s;
    animation: anim 1s ease-in-out forwards 3s
}
#designerWeb img {
    width: 320px;
    transition: all 0.5s;
}
#designerWeb img:hover {
    width: 350px;
    margin-bottom: -0.5rem;
    transition: all 0.5s;
}
.fleche {
    z-index: 1;
    margin: 3rem;
    opacity: 0;
    -webkit-animation: apparition 0.6s linear forwards 4s;
    animation: apparition 0.6s linear forwards 4s;
}
.fleche img {
    margin-top: 5rem;
    height: 50px;
    -webkit-animation: defilement 1s ease-in infinite;
    animation: defilement 1s ease-in-out infinite;
}

/* ---------------ANIMATION---------------------------------------------------*/

@-webkit-keyframes defilement {
    0%  {margin-top: 0}
    50%  {margin-top: 20px}
    50%  {margin-bottom: -20px}
    100% {margin-top: 0}
}
@keyframes defilement {
    0%  {margin-top: 0}
    50%  {margin-top: 20px}
    50%  {margin-bottom: -20px}
    100% {margin-top: 0}
}
@-webkit-keyframes anim {
    0%  {margin-top: 100%;}
    100%  {opacity: 1;}
    100% {margin-top: 0%;}
    0%  {margin-bottom: -100%;}
    100% {margin-bottom: 0%;}
}
@keyframes anim {
    0%  {margin-top: 100%;}
    100%  {opacity: 1;}
    100% {margin-top: 0%;}
    0%  {margin-bottom: -100%;}
    100% {margin-bottom: 0%;}
}
@-webkit-keyframes apparition {
    0%  {opacity: 0}
    100% {opacity: 100%}
}
@keyframes apparition {
    0%  {opacity: 0}
    100% {opacity: 100%}
}
@-webkit-keyframes txtRight {
    0%  {margin-right: 100%;}
    100%  {opacity: 1;}
    100% {margin-right: 0%;}
}
@keyframes txtRight {
    0%  {margin-right: 100%;}
    100%  {opacity: 1;}
    100% {margin-right: 0%;}
}
@-webkit-keyframes txtLeft {
    0%  {margin-left: 100%;}
    100%  {opacity: 1;}
    100% {margin-left: 0%;}
}
@keyframes txtLeft {
    0%  {margin-left: 100%;}
    100%  {opacity: 1;}
    100% {margin-left: 0%;}
}

/*------------------texte qui défile---------------------------------------*/

@-webkit-keyframes scroll {
    0%  {transform: translateX(0%);}
    100% {transform: translatex(-100%)}
}
@keyframes scroll {
    0%  {transform: translateX(0%);}
    100% {transform: translatex(-100%)}
}
.containerBandeau {
    /* margin-top: 5rem; */
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden; 
    background-color: #080808;
}
.txt {
    font-size: 2.2rem;
    width: 35vw;
    color: #A68F4B;
    font-weight: bold;
    white-space: nowrap;
    animation:scroll 5s linear infinite;
}


/* ----------------------------------------------------------------------------
    catégorie & nombre
------------------------------------------------------------------------------ */

.containerNumberCategory {
    position: relative;
    margin-left: 8px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
.number {
    position: absolute;
    top: 50%;
    font-size: 25rem;
    font-weight: bold;
    line-height: 0%;
}

.category {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
.category span {
    color: #9D1437;
}

/* couleurs des nombres et catégories */

.profil .number, .experiences .number, .atouts .number, .contact .number {
    color : rgba(255,244,194,0.25)
}
.formations .number, .competences .number, .loisirs .number {
    color:rgb(0, 0, 0, 0.25)
}
.profil .category, .experiences .category, .atouts .category, .contact .category {
    color : #A68F4B
}
.formations .category, .competences .category, .loisirs .category {
    color:rgb(0, 0, 0)
}

/* ----------------------------------------------------------------------------
containers
-------------------------------------------------------------------------------- */
section {
    min-height: 80vh;
    width: 100%;

}
.scroll-page {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 100%;
}

.formations,.competences,.loisirs {
    background-color: #A68F4B;
    color : #102940;
}

.formationsCards,.experiencesCards {
    display: flex;
    margin: 0;
    padding: 2rem;
    align-items: center;
}

.competencesInfos,.atoutsInfos,.loisirsInfos,.contactInfos {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}



/* SECTION PROFIL */ 

.profil .text {
    display: flex;
    flex-direction: column;
}

/* SECTION FORMATIONS */ 

.formations .box {
    position: relative;
    height: 45vh;
    background-color: rgb(20, 20, 20);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0.5rem;
    transition: all 1s;
}
.formations .box:hover {
    display: flex;
    align-items: center;
    width: 33vw;
    height: 65vh;
    margin: 1rem;
    z-index: 1;
    transition: all 0.8s ease-in-out;
}
.formations .img-fluid {
    padding : 2rem;
}
.formations .box p {
    color:#A68F4B;
    font-size: 1.2rem;
}
.formation #imgOI {
    max-width: 1.2rem;
}
.formations .date {
    color: #A68F4B;
    text-shadow: 1px 1px 4px #102940;
    font-size: 2.5rem;
}
.formations .title {
    display: none;
    color: #eeeeee;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 1.5rem;
}
.formations .text_container {
    display: none;
    color: #A68F4B;
    font-size: 1rem;
    padding: 0.5rem;
    line-height: 1.5em;
}

/* SECTION EXPERIENCES */ 

/* cards & boxs */
.experiences .box {
    height: 65vh;
    background-color: transparent;
    border: none;
    /* border-radius: 2rem; */
    perspective: 500px;
    margin: 0.5rem;
}
.experiences .box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.experiences .box:hover .box-inner {
    transform: rotateY(-180deg);
    transition: all 0.8s ease-in-out
}
.experiences .box-front {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 30px;
    padding: 30px;
    background-color: #A68F4B;
    /* border: 8px solid black */
}
.experiences .box-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    background-color: #A68F4B;
    transform: rotateY(-180deg);
}
.experiences .box-front, .box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.experiences .box-back .date {
    color: #eeeeee;
    text-shadow: 1px 1px 4px #102940;
    font-size: 40px;
}
.experiences .box-back .title {
    color: #102940;
    font-size: 30px;
    margin: 35px 55px;
}
.experiences .box-back .text_container {
    color: #102940;
    font-size: 20px;
    padding: 0px 15px;
    line-height: 1.5em;
}
.experiences .box-front img {
    padding: 60px 0px;
}

/* SECTION COMPETENCES */ 

.competencesInfos p {
    margin: 20px auto;
}
.competencesLogo {
    display: flex;
    justify-content: space-evenly;
    padding: 45px 0px;
}
.comp2 {
    margin: 0px 30px;
}
.comp1,.comp2,.comp3 {
    height: 10rem;
    border: 1.5px solid black;
    border-radius: 1.5rem;
    width: 25rem;
}
.comp1 p,.comp2 p,.comp3 {
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.comp1 div,.comp2 div,.comp3 div {
    display: flex;
    align-items: center;
    margin: 1rem;
    justify-content: center;
}
.comp1 img,.comp2 img,.comp3 img {
    width: 2.5rem;
    margin: 3px;
}
.listCompetences {
    display: flex;
    flex-wrap: wrap;
}

/* SECTION ATOUTS   */ 

.atoutsInfos {
    display: flex;
    align-items: center;
    justify-content: center
}

/* SECTION LOISIRS */ 

.loisirsInfos {
    display: flex;
    align-items: center;
    justify-content: center
}
/* SECTION CONTACT */ 

.contactInfos {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
}
.contactInfos i {
    padding-right: 10px;
}

/*   ---------------------------------------------------------------------------
--------------  test  ------------------------------------------------------------------
-----------------------------------------------------------------------------*/




/*   ---------------------------------------------------------------------------
-------------- fin test  ------------------------------------------------------------------
-----------------------------------------------------------------------------*/


/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        MOBILE
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 768px) {
body {
    font-size: 20px;
    line-height: 1em;
    margin: 0;
    padding: 0;
    align-items: center;
}
.titre1,.titre2 {
    font-size: 2.5rem;
    line-height: 1em;
}
#avatar img {
    height: 18vh;
    width: 100%;
}
.txtRight,.txtLeft,.iam {
    font-size: 1.6rem;
}
.name {
margin-top: -1rem;
margin-bottom: 5rem;
}
#designerWeb img {
    width: 65vw; 
}
#designerWeb img:hover {
    width: 75vw; 
}
.fleche img {
    -webkit-animation: defilement 1s ease-in infinite;
    animation: defilement 1s ease-in-out infinite;
}

.containerBandeau {
margin-top: 0;
margin-bottom: 2rem;
}
.cta {
    font-size: 1.6rem;
}

/*---------------------------------------------------------------------------
                texte qui défile
-----------------------------------------------------------------------*/

.containerBandeau {
    margin-top: 5rem;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden; 
}
.txt {
    padding: 0rem 5rem;
}

.row {
    margin: 0;
    justify-content: center;
}
.containerNumberCategory {
    display: none;
}

/* ----------------------------------------------------------------------------
containers
-------------------------------------------------------------------------------- */

.container-fluid {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

p {
    display: flex;
    justify-content:center;
}
/* SECTION PROFIL */ 

.profil {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100%;
    padding: 5px;
}    
.job {
    text-align: center;
    padding: 0px 18% 50px 18%;
    font-size: 4rem;
    font-weight: bold;
    line-height: 3rem;
}
.job p {
    position: relative;
    top: 0px;
}

/* SECTION formation  */

.formationsCards {
    margin-top: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 95vw;
    flex-direction: column;
}
.formations .box {
    height: 10vh;
    margin-top: 1rem;
    padding: 5px;
    margin: 1rem;
    width: 95vw;
    transition: all 0.8s;
} 
.formations .box:hover {
    height: 38vh;
    width: 95vw;
    padding: 5px;
    margin: 1rem;
    transition: all 0.8s;
}
.formations .box .title {
    font-size: 25px;
    margin: 20px 0px;
}
.formations .box .date {
    font-size: 33px;
}
.formations .box .text_container {
    font-size: 18px;
    padding: 20px;
    line-height: 1.3em; 
}

/* SECTION experiences  */

.experiencesCards {
    margin-top: 0;
    display: flex;
    justify-content: center;
    width: 95vw;
    flex-direction: column;
}
.experiences .box {
    height: 38vh;
    perspective: 500px;
    margin-top: 1rem;
}
.experiences .box-front {
    padding: 45px;
}
.experiences .box-front, .box-back {
    margin: 0px;
} 
.experiences .box-front>img {
    max-width: 30vw;
}
.experiences .box-back .title {
    font-size: 25px;
    margin: 20px 0px;
}
.experiences .box-back .date {
    font-size: 33px;
}
.experiences .box-back .text_container {
    font-size: 18px;
    padding: 20px;
    line-height: 1.3em;
}


}