@font-face {
    font-family: "Paris2024";
    src: url('/assets/fonts/Paris2024/Paris2024Regular.ttf') format("woff2"),url('/assets/fonts/Paris2024/Paris2024Regular.woff') format("woff"),url('webfont.ttf')  format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Paris2024";
    font-size: 28px;
    line-height: 1.5em;
    background-color: #000;
    color: #9C8844;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* BACKGROUND */

.formations,.contact,.loisirs,.inspirations {
    transition: all 0.5s ease-in-out;
}

.formations.scroll,.contact.scroll,.loisirs.scroll,.inspirations.scroll {
    background-color: #9C8844;
    color: #000;
}

/* bouton retour en haut  */

#retourHaut {
    position: sticky;
    bottom: 0px;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}
#retourHaut img{
    width: 50%;
}



/* entete */

.entete div {
    display: flex;
    align-items: start;
    justify-content: center;
}
#anaisguyon img {    
    max-width: 38vw;
}
#avatar img {
    padding-top: 60%;
    width: 15vw;
}
.profil {
    border-top: 10px dotted #9C8844;
}
/* ----------------------------------------------------------------------------
    catégorie & nombre
-------------------------------------------------------------------------------- */

.containerNumberCategory {
    position: relative;
}
.number {
    position : absolute;
    font-size: 800px;
    font-weight: bold;
    line-height: 70%;
    left: 0;
}
.profil .number {
    left: 13%;
}
.category {
    position: relative;
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: upright;
    left: 45%;
    top: 0%;
}
.category span {
    color: #9D1437;
}

/* couleurs des nombres et catégories */
.profil .number, .experiences .number, .atouts .number, .contact .number {
    color : rgba(215, 194, 120, 0.20)
}
.formations .number, .competences .number, .loisirs .number {
    color:rgb(0, 0, 0, 0.20)
}
.profil .category, .experiences .category, .atouts .category, .contact .category {
    color : #d7c278
}
.formations .category, .competences .category, .loisirs .category {
    color:#000
}


/* ----------------------------------------------------------------------------
containers
-------------------------------------------------------------------------------- */

.formations {
    display: flex;
    flex-direction: column;
}
.experiencesCards,.competences,.atouts,.loisirs,.aspirations,.contact {
    display: flex;
    margin: 0;
    padding: 0;
}

/* SECTION PROFIL */ 

.profil {
    height: 650px;
}
.profil .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.job {
    text-align: center;
    padding: 0px 30px;
    font-size: 4rem;
    font-weight: bold;
    line-height: 3rem;
}
.job p {
    position: sticky;
    top : 30px;
}


/* SECTION COMPETENCES */ 

.competencesLogo {
    display:flex;
}
.comp1 img,.comp2 img,.comp3 img {
    width: 20%;
}


.listCompetences {
    display: flex;
    flex-wrap: wrap;
}


/* SECTION EXPERIENCES */ 

/* code console */

.box {
    height: 60vh;
    background-color: transparent;
    border: none;
    border-radius: 2rem;
    perspective: 500px;
}
.box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
}
.box:hover .box-inner {
    transform: rotateY(-180deg);
}
.box-front {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    padding: 1rem;
    background-color: #fff;
    color: #111111;
}
.box-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    background-color: #ffffff3d;
    color: #fff;
    transform: rotateY(-180deg);
}
.box-front, .box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}


/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        MOBILE
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 768px) {
    
body {
    font-family: "Paris2024";
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.containerNumberCategory {
    display: none;
}
/* entete */

#anaisguyon img {    
    max-width: 95vw;
}
#avatar img{
    width: 45vw;
    padding-top: 10px;
}

/* ----------------------------------------------------------------------------
containers
-------------------------------------------------------------------------------- */

.container-fluid {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* SECTION PROFIL */ 

.profil {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100%;
    padding: 5px;
}    
.job {
    text-align: center;
    padding: 0px 18% 50px 18%;
    font-size: 4rem;
    font-weight: bold;
    line-height: 3rem;
}
.job p {
    position: relative;
    top: 0px;
}

/* SECTION experiences  */
.box {
    display: flex;
    max-width: 33.33333333%;
}
}